.exams {
    background-color: #ffd666;
    border-bottom-left-radius: 5rem;
    border-top-right-radius: 5rem;
}

.exams__heading {
    color: #2e4a7d;
    margin-bottom: 1.5rem;
}

.exams ul {
    list-style: none;
}

.exams__item img {
    display: block;
    margin: 0 auto;
}

.exams__item p {
    color: #2e4a7d;
    font-weight: 700;
    margin: 1.25rem 0;
    text-align: center;
}