.navbar {
    background-color: #15c3d6;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.navbar--visible {
    display: block;
}

.navbar ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    list-style: none;
}

.navbar__item {
    margin: 1rem 0;
}

.navbar__link {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}